<!-- Games New Section maxID, auth, Players, Leagues -->
<section class="white-section" id="games_new">

  <div class="container-fluid">
  <form method="POST" action="/games/gameConfirm">
    <!-- HEADERS -->
    <div class="row">
      <div class="col colored-section">
        Game Details
      </div>
    </div>
    <!-- ROW 1 -->
    <div class="row">
      <div class="col-1 colored-section">
      </div>
      <div class="col-2">
        Date
      </div>
      <div class="col-2">
        League
      </div>
      <div class="col-3">
        Team 1
      </div>
      <div class="col-3">
        Team 2
      </div>
      <div class="col-1 colored-section">
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="row">
      <div class="col-1 colored-section">
      </div>
      <div class="col-2">
        <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
          <input type="text" class="form-control" name="gameDate" value=" <%= new Date().toJSON().slice(0,10) %>">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <select class="" name="league" required="">
            <option value="">Choose</option>
              <% for (var i=0; i<Leagues.length; i++){ %>
                <option value="<%= Leagues[i].leagueID %>"><%= Leagues[i].leagueName %></option>
              <% } %>
        </select>
      </div>
      <div class="col-3">
        <select class="magic-select" name="T1P1" required="">
            <option value="">Choose</option>
              <% for (var i=0; i<Players.length; i++){ %>
                <option value="<%= Players[i].playerID %>"><%= Players[i].firstName %></option>
              <% } %>
        </select>
        <select class="magic-select" name="T1P2" required="">
            <option value="">Choose</option>
              <% for (var i=0; i<Players.length; i++){ %>
                <option value="<%= Players[i].playerID %>"><%= Players[i].firstName %></option>
              <% } %>
        </select>
      </div>
      <div class="col-3">
        <select class="magic-select" name="T2P1" required="">
            <option value="">Choose</option>
              <% for (var i=0; i<Players.length; i++){ %>
                <option value="<%= Players[i].playerID %>"><%= Players[i].firstName %></option>
              <% } %>
        </select>
        <select class="magic-select" name="T2P2" required="">
            <option value="">Choose</option>
              <% for (var i=0; i<Players.length; i++){ %>
                <option value="<%= Players[i].playerID %>"><%= Players[i].firstName %></option>
              <% } %>
        </select>
      </div>
      <div class="col-1 colored-section">
      </div>
    </div>
    <!-- ROW 3 -->
    <div class="row">
      <div class="col-1 colored-section">
      </div>
      <div class="col-2">
        &nbsp;
      </div>
      <div class="col-2">
        &nbsp;
      </div>
      <div class="col-3" align="center">
        Score:
        <input size="5" type="text" name="t1Score" maxlength="2" pattern="[0-9]" required>
      </div>
      <div class="col-3" align="center">
        Score:
        <input size="5" type="text" name="t2Score" maxlength="2" pattern="[0-9]" required>
      </div>
      <div class="col-1 colored-section">
      </div>
    </div>
    <!-- ROW 4 -->
    <div class="row">
      <div class="col-1 colored-section">
      </div>
      <div class="col">
        <div>
            <button type="submit" class="btn btn-local-dark">Choose Teams</button>
        </div>
      </div>
      <div class="col-1 colored-section">
      </div>
    </div>
    <!-- ROW 5 -->
    <div class="row">
      <div class="col-12 colored-section">
        &nbsp;
      </div>
    </div>
</section>
