<section class="white-section" id="games">
  <h2>Games</h2>
  <% for (var i=0; i<AllGames.length; i++){ %>
      <p>
        {"gameID":<%= AllGames[i].gameID  %>,
         "gameDate":"<%= AllGames[i].gameDate.toISOString() %>",
         "leagueID": <%= AllGames[i].leagueID %>,
         "T1P1": <%= AllGames[i].T1P1 %>,
         "T1P2": <%= AllGames[i].T1P2 %>,
         "T2P1": <%= AllGames[i].T2P1 %>,
         "T2P2": <%= AllGames[i].T2P2 %>,
         "team1Score": <%= AllGames[i].team1Score %>,
         "team2Score": <%= AllGames[i].team2Score %>,
         "createdAt": <%= AllGames[i].createdAt.toISOString() %>,
         "updatedAt": <%= AllGames[i].updatedAt.toISOString() %>},
      </p>
  <% } %>
</section>
  